<header>
    <div class="header_banner">
        <img src="https://www.prodirectsport.com/-/media/prodirect/project/en/running/product-page-content/shoes/nike/282092---vaporfly-3-pink/bb-mens-vf-3-pink-d-210323.jpg"
            alt="">
    </div>

    <div class="header_content">
        <div class="header_title">
            <h1>WINNING ISN’T COMFORTABLE</h1>
            <p>Tincidunt at mi sit risus fermentum risus ac neT est feugiat congue</p>
        </div>
        <div class="header_button">
            <button>Shop Running</button>
        </div>
    </div>

</header>

<div class="Featured">
    <div class="Main_title">
        <h2>Featured</h2>
    </div>
    <div class="Main_Image_Container">
        <div class="Image_Item">
            <img src="https://i.pinimg.com/736x/c3/6f/68/c36f6817eb86ffeec3c024ad143e309a.jpg" alt="Featured 2" />
            <p>Cool For The Summer</p>
        </div>
        <div class="Image_Item">
            <img src="https://i.pinimg.com/736x/e8/1f/e7/e81fe7fe02d2b55e31958a1da1800e85.jpg" alt="Featured 2" />
            <p>Gear For Every Rep</p>
        </div>
        <div class="Image_Item">
            <img src="https://i.pinimg.com/736x/df/c7/8f/dfc78ffa625ee0949ffb36169b0535fc.jpg" alt="Featured 2" />
            <p>Kids' Pegasus 41</p>
        </div>
    </div>
</div>


<div class="See_What_New">
    <div *ngIf="showMessage" class="toast-message">
        {{ messages }}
    </div>

    <!-- Wrapper chứa scroll và nút -->
    <div class="scroll-wrapper">

        <!-- ✅ Thanh nút chuyển sản phẩm bên phải -->
        <div class="scroll-buttons">
            <button (click)="scrollPrev(scrollContainer)">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button (click)="scrollNext(scrollContainer)">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <!-- Danh sách sản phẩm -->
        <div class="See_product_scroll" #scrollContainer>
            <div class="product_card" *ngFor="let s of filteredProjects">
                <div class="product_img">
                    <img [src]="s.image1" alt="{{ s.name }}" />
                    <i class="fa-solid fa-heart heart-icon" [ngClass]="{ active: wishlist.includes(s.id) }"
                        (click)="toggleWishlist(s.id)"></i>
                </div>
                <div class="product_info">
                    <p class="product_name"><a [routerLink]="['/detail', s.id]">{{ s.name }}</a>
                    </p>
                    <p class="product_price">{{ s.price | currency:'VND' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>