<main>
    <nz-spin [nzSpinning]="isLoading">
        <div class="main_product" *ngFor="let s of filteredProjects">
            <div class="main_product_small">
                <img [src]="s.image2" alt="{{ s.name }}" class="product-image"
                    (mouseenter)="setMainImage(s, s.image2)" />
                <img [src]="s.image3" alt="{{ s.name }}" class="product-image"
                    (mouseenter)="setMainImage(s, s.image3)" />
                <img [src]="s.image4" alt="{{ s.name }}" class="product-image"
                    (mouseenter)="setMainImage(s, s.image4)" />
            </div>

            <div class="main_product_Air">
                <img [src]="s.currentImage || s.image1" alt="{{ s.name }}" class="product-image main-image" />
            </div>



            <div class="main_product_information">
                <div class="main_product_information_title">
                    <h2>Sustainable Materials</h2>
                    <h3>{{ s.name }}</h3>
                </div>
                <div class="main_product_information_content">

                    <p>{{ s.price }}</p>
                    <p>Color: Black</p>
                    <p>Size: One Size</p>
                </div>
                <div class="main_product_information_size">
                    <button>FR34</button>
                    <button>FR35</button>
                    <button>FR36</button>
                    <button>FR37</button>
                    <button>FR38</button>
                    <button>FR39</button>
                    <button>FR40</button>
                </div>
                <div class="main_product_information_button">
                    <button>Add to Bag</button>
                </div>
                <div class="main_product_information_button">
                    <button>Add to With List</button>
                </div>
                <div class="main_product_information_Notes">
                    <h5>EDITS NOTES</h5>
                    <p>{{ s.description }}</p>
                </div>
            </div>
        </div>
    </nz-spin>
    <!-- <div class="main_product_how">
            <div class="main_product_how_title">
                <h1>How Others Are Wearing It</h1>
                <p>Upload your photo or mention </p>
            </div>
            <div class="main_product_how_more">
                <img src="Image/How.png" alt="">
                <button><i class="fa-solid fa-circle-plus h"></i></button>
            </div>
        </div>
        <div class="Customer">
            <div class="Customer_title">
                <h1>Customer feedback</h1>
                <div class="Customer_feedback_link">
                    <ul>
                        <li>
                            <a href="Comments_page.html">Xem thêm</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Customer_feedback">
                <div class="Customer_feedback_1">
                    <div class="Customer_feedback_content1">
                        <i class="fa-solid fa-location-pin"></i>
                        <i class="fa-solid fa-location-pin"></i>
                        <i class="fa-solid fa-location-pin"></i>
                        <p>Lorem ipsum dolor sit amet consectetur. Mauris sed eleifend fermen
                            <br> fermentum sed eleifend fermen fermentum.
                        </p>
                    </div>
                    <div class="Customer_feedback_content2">
                        <div class="Customer_feedback_content2_img">
                            <img src="Image/customer.png" alt="">
                        </div>
                        <div class="Customer_feedback_content2_information">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p>Mỹ Linh</p>
                            <p class="Customer_feedback_content2_information_p">Amet consectetur</p>
                        </div>
                    </div>
                </div>
                <div class="Customer_feedback_2">
                    <div class="Customer_feedback_content1">
                        <i class="fa-solid fa-location-pin"></i>
                        <i class="fa-solid fa-location-pin"></i>
                        <i class="fa-solid fa-location-pin"></i>
                        <p>Lorem ipsum dolor sit amet consectetur. Mauris sed eleifend fermen
                            <br> fermentum sed eleifend fermen fermentum.
                        </p>
                    </div>
                    <div class="Customer_feedback_content2">
                        <div class="Customer_feedback_content2_img">
                            <img src="Image/customer1.png" alt="">
                        </div>
                        <div class="Customer_feedback_content2_information">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p>Mỹ Trang</p>
                            <p class="Customer_feedback_content2_information_p">Amet consectetur</p>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->

</main>