<form #editForm="ngForm" (ngSubmit)="onEdit()" novalidate>
  <div class="mb-3">
    <label class="form-label">Tên sản phẩm</label>
    <input
      type="text"
      class="form-control"
      name="name"
      [(ngModel)]="product.name"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Mô tả</label>
    <textarea
      class="form-control"
      name="description"
      [(ngModel)]="product.description"
      required
    ></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Danh mục</label>
    <select
      class="form-select"
      name="category"
      [(ngModel)]="product.category"
      required
    >
      <option [ngValue]="''" disabled>-- Chọn danh mục --</option>
      <option *ngFor="let c of categories" [ngValue]="c.name">{{ c.name }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Thương hiệu</label>
    <input
      type="text"
      class="form-control"
      name="brand"
      [(ngModel)]="product.brand"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Giá</label>
    <input
      type="number"
      class="form-control"
      name="price"
      [(ngModel)]="product.price"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Hình ảnh 1</label>
    <input
      type="text"
      class="form-control"
      name="image1"
      [(ngModel)]="product.image1"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Hình ảnh 2</label>
    <input
      type="text"
      class="form-control"
      name="image2"
      [(ngModel)]="product.image2"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Hình ảnh 3</label>
    <input
      type="text"
      class="form-control"
      name="image3"
      [(ngModel)]="product.image3"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Hình ảnh 4</label>
    <input
      type="text"
      class="form-control"
      name="image4"
      [(ngModel)]="product.image4"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Trạng thái</label>
    <select
      class="form-select"
      name="status"
      [(ngModel)]="product.status"
      required
    >
      <option value="Đang bán">Đang bán</option>
      <option value="Ngừng bán">Ngừng bán</option>
       <option value="Hết hàng">Hết hàng</option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit">Lưu chỉnh sửa</button>
</form>
