<div style="display: flex; gap: 10px; align-items: center; margin-bottom: 16px; ">
  <select class="form-select" (change)="onCategoryChange($event)">
    <option value="">Lọc theo danh mục</option>
    <option value="Đang bán">Đang bán</option>
    <option value="Ngừng bán">Ngừng bán</option>
    <option value="Hết hàng">Hết hàng</option>
  </select>
  <div style="position: relative;">
    <i class="fa-solid fa-magnifying-glass" style="position: absolute; left: 8px; top: 50%; transform: translateY(-50%); color: gray;"></i>
    <input type="text" placeholder="Tìm kiếm"
           style="padding-left: 25px;" 
           (input)="onSearch($event)" />
  </div>
</div>
<table>

  <thead>
    <tr>
      <th style="text-align: center;">STT</th>
      <th style="text-align: left;">Tên Giày</th>
      <th style="text-align: left;">Mô tả</th>
      <th style="text-align: center;">Danh mục</th>
      <th style="text-align: center;">Hãng giày</th>
      <th style="text-align: center;">Giá</th>
      <th style="text-align: center;">Hình ảnh </th>
      <th style="text-align: center;">Trạng thái</th>
      <th style="text-align: center;">Hành động</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let s of filteredProjects">
      <td>{{ s.id }}</td>
      <td>{{ s.name }}</td>
      <td>{{ s.description }}</td>
      <td>{{ s.category }}</td>
      <td>{{ s.brand }}</td>
      <td>{{ s.price }}</td>

      <td>
        <img src={{s.image1}} alt="">
        <img src={{s.image2}} alt="">
        <img src={{s.image3}} alt="">
        <img src={{s.image4}} alt="">
      </td>

      <td>{{ s.status }}</td>

      <td style="text-align: center;">
        <div class="action-buttons">
          <button (click)="handleDelete(s.id)" class="btn-delete">
            Delete
          </button>
          <button [routerLink]="['/admin/edit', s.id]" class="btn-edit">
            Edit
          </button>
        </div>
      </td>


    </tr>
  </tbody>

</table>