<table>
  <thead>
    <tr>
      <th style="text-align: center;">STT</th>
      <th style="text-align: left;">Tên Giày</th>
      <th style="text-align: left;">Mô tả</th>
      <th style="text-align: center;">Danh mục</th>
      <th style="text-align: center;">Hãng giày</th>
      <th style="text-align: center;">Giá</th>
      <th style="text-align: center;">Hình ảnh </th>
      <th style="text-align: center;">Trạng thái</th>
      <th style="text-align: center;">Hành động</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let s of listProjects">
      <td>{{ s.id }}</td>
      <td>{{ s.name }}</td>
      <td>{{ s.description }}</td>
      <td>{{ s.category }}</td>
      <td>{{ s.brand }}</td>
      <td>{{ s.price }}</td>

      <td>
        <ng-container *ngFor="let img of s.images">
          <img [src]="img" alt="Ảnh sản phẩm" style="width: 50px; height: auto; margin-right: 8px;" />
        </ng-container>
      </td>

      <td>{{ s.status }}</td>

      <td style="text-align: center;">
        <div class="action-buttons">
          <button (click)="handleDelete(s.id)" class="btn-delete">
            Delete
          </button>
          <button [routerLink]="['/admin/edit', s.id]" class="btn-edit">
            Edit
          </button>
        </div>
      </td>


    </tr>
  </tbody>

</table>